<p id="notice"><%= notice %></p>

<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h2 center>We think only two options exists.  Which do you prefer?</h2>
      <p style="text-align:center;">
        <%= link_to 'Write-in the name of a more qualified individual', s_y_wi_path, class: 'btn btn-success btn-lg' %>
        <%= link_to 'Vote for either the lesser of two evils or do not vote', s_y_dn_path, class: 'btn btn-danger btn-lg' %>
      </p>
    </div>
  </div>
<% end %>