<p id="notice"><%= notice %></p>

<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h2 center>We regret that you feel hopeless and or have resigned yourself to willingly accept less than we deserve.  When you seek better, please return.</h2>
      <p style="text-align:center;">
        <%= link_to 'Wait! I changed my mind. I do want a better Presidential candidate.', s_y_wi_path, class: 'btn btn-success btn-lg' %>
      </p>
    </div>
  </div>
<% end %>